<!DOCTYPE html>
<html>

<head lang="en">
    <title><%= name %> Settings</title>
    <meta charset="utf-8" />
    <script src="https://sdpi-components.dev/releases/v4/sdpi-components.js"></script>
</head>

<body>
    <!--
        Learn more about property inspector components at https://sdpi-components.dev/docs/components
        
        Example components you can use:
        
        Text input:
        <sdpi-item label="Text Input">
            <sdpi-textfield setting="textValue" placeholder="Enter text here"></sdpi-textfield>
        </sdpi-item>
        
        Number input:
        <sdpi-item label="Number">
            <sdpi-range setting="numberValue" min="1" max="100" step="1" default="50" showlabels></sdpi-range>
        </sdpi-item>
        
        Checkbox:
        <sdpi-item label="Enable Feature">
            <sdpi-checkbox setting="enableFeature"></sdpi-checkbox>
        </sdpi-item>
        
        Dropdown:
        <sdpi-item label="Select Option">
            <sdpi-select setting="selectedOption">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </sdpi-select>
        </sdpi-item>
    -->
    
    <!-- TODO: Add your settings UI components here -->
    <sdpi-item label="Example Setting">
        <sdpi-textfield setting="exampleSetting" placeholder="Configure your action"></sdpi-textfield>
    </sdpi-item>
</body>

</html>
